body {
    background-color: rgb(245, 234, 226);
    box-sizing: border-box;
    margin: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#container {
    display: flex;
}

#desktopimg {
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
}

#mobileimg {
    display: none;
}

#right-content {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    padding: 30px;
}

#product-type {
    font-family: Montserrat;
    color: gray;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    letter-spacing: 2px;

}

#product-name {
    font-family: Fraunces;
    font-size: 33px;
    font-weight: 700;
    line-height: 35px;
}

#product-description {
    font-family: Montserrat;
    font-size: 14px;
    color: gray;
    line-height: 25px;
    box-sizing: border-box;

}

#price-row {
    display: flex;
    align-items: center;
}

#final-price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    margin: 0;
}

#original-price {
    font-family: Montserrat;
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
    padding-left: 30px;
}

button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: 600;
    margin: 10px 0;
    letter-spacing: 1.2px;    
}

button:hover {
    background-color:  hsl(158, 36%, 20%);
    cursor: pointer;
}

@media screen and (max-width: 475px) {
    
    #container {
        display: flex;
        flex-direction: column;
    }

    #right-content {
        border-radius: 0 0 10px 10px;
        width: 345px;
        height: 370px;
        padding: 25px;

    }

    #desktopimg {
        display: none;
    }

    #mobileimg {
        display: block;
        width: 345px;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }

    #product-name {
        margin: 15px 0;
    }

    #product-description {
        margin: 0;
    }

}